.background {
  width: 100%;
  height: 100vh;
  background-image: url('../public/assets/laptop.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.04;
  z-index: 5;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
  z-index: 15;
}

.footer {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #16111a;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  z-index: 10;
}

.image {
  max-height: 400px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  text-decoration: none;
  transition: .3s;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.0rem 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b18fb3;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: .3s;
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  background: linear-gradient(45deg, rgb(35, 25, 37), rgb(35, 25, 37));
  border-color: rgb(72, 7, 88);
  transform: scale(1.1);
  cursor: pointer;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.flag {
  margin: 0 .5em;
}

.socialContainer {
  display: flex;
}

.socialIcon {
  margin-bottom: 20px;
  margin-right: 20px;
  transition: .3s;
}

.socialIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.clubLogo {
  height: 50px;
}

.anchorButton {
  border: 1px solid #b18fb3;
  padding: 10px 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: .3s;
  transform: scale(1.2);
  cursor: pointer;
  text-align: center;
}


.anchorButton:hover,
.anchorButton:focus,
.anchorButton:active {
  background: linear-gradient(45deg, rgb(35, 25, 37), rgb(35, 25, 37));
  border-color: rgb(72, 7, 88);
  transform: scale(1.1);
  cursor: pointer;
}

.secondTitle {
  text-transform: uppercase;
}

.wordTitle {
  margin: 1rem;
  width: 500px;
  max-width: 80%;
}

.computerIcon{
  width: 100px;
  min-width: 400px;
}

@media (max-width: 1200px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .image {
    max-height: 200px;
  }
  .computerIcon{
    display: none;
  }

  .grid h2{
    text-align: center;
    font-size: 1.4rem;
  }
}

