.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  height: cal(100vh - 82px);
}

.footer {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #340b4e;
}

.image {
  max-height: 400px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  transition: .3s;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: .3s;
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #8BC539;
  transform: scale(1.1);
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.flag {
  margin: 0 .5em;
}

.socialContainer {
  display: flex;
}

.socialIcon {
  margin-bottom: 20px;
  margin-right: 20px;
  transition: .3s;
}

.socialIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clubLogo {
  height: 50px;
}

.anchorButton {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 7px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: .3s;
  text-align: center;
}


.anchorButton:hover,
.anchorButton:focus,
.anchorButton:active {
  background-color: #8BC539;
  transform: scale(1.1);
  cursor: pointer;
}

.secondTitle {
  text-transform: uppercase;
}

.wordTitle {
  margin: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .image {
    max-height: 200px;
  }
}
